@import "base_layout/base_layout_functions";
@import "base_layout/base_layout_mixin";


$boder-width: (
        default:self-mixin-boder-width(),
        xs:self-mixin-boder-width(xs\:),
        sm:self-mixin-boder-width(sm\:),
        md:self-mixin-boder-width(md\:),
        lg:self-mixin-boder-width(lg\:),
        xl:self-mixin-boder-width(xl\:)
);
$boder-border-radius: (
        default:self-mixin-border-radius(5),
);


$margin-padding: (
        default:self-mixin-margin-padding(),
        xs:self-mixin-margin-padding(xs\:),
        sm:self-mixin-margin-padding(sm\:),
        md:self-mixin-margin-padding(md\:),
        lg:self-mixin-margin-padding(lg\:),
        xl:self-mixin-margin-padding(xl\:)
);
$flex-justify-align: (
        default:self-mixin-flex-justify-align(),
);
$displayMap:( default:self-mixin-display(),
        xs:self-mixin-display(xs\:),
        sm:self-mixin-display(sm\:),
        md:self-mixin-display(md\:),
        lg:self-mixin-display(lg\:),
        xl:self-mixin-display(xl\:)
);


$col-px: (
        default:self-col-px(12, 'col-', ( position: relative,width: 100%,min-height: 1px,padding-right: 15px,padding-left: 15px, box-sizing: border-box))
);

$row-px: (
        default:self-col-px('', 'row', ( display: flex,-ms-flex-wrap: wrap,flex-wrap: wrap, margin-right: -15px,margin-left: -15px ))
  //xs:self-col-px('', 'xs\\:row', ( display: flex,-ms-flex-wrap: wrap,flex-wrap: wrap, margin-right: -15px,margin-left: -15px )),
);
$box-shadow: (
        default:self-col-px('', 'shadow-1', ( box-shadow: 0 1px 0 #FCFCFC,-webkit-box-shadow: 0 1px 0 #FCFCFC,-moz-box-shadow: 0 1px 0 #FCFCFC))
);
$hr: (
        default:self-col-px('', 'hr', ( box-shadow: 0 1px 0 #FCFCFC,-webkit-box-shadow: 0 1px 0 #FCFCFC,-moz-box-shadow: 0 1px 0 #FCFCFC, height:1px, border-bottom:1px solid #c7c7c7 ))
);
$col-map: (
        default:self-col-px('', 'col', (  -ms-flex-preferred-size: 0,flex-basis: 0,-webkit-box-flex: 1,-ms-flex-positive: 1,flex-grow: 1,max-width: 100%)),
        sm:self-col-px('', 'sm\\:col', (  -ms-flex-preferred-size: 0,flex-basis: 0,-webkit-box-flex: 1,-ms-flex-positive: 1,flex-grow: 1,max-width: 100%)),
        md:self-col-px('', 'md\\:col', (  -ms-flex-preferred-size: 0,flex-basis: 0,-webkit-box-flex: 1,-ms-flex-positive: 1,flex-grow: 1,max-width: 100%)),
        lg:self-col-px('', 'lg\\:col', (  -ms-flex-preferred-size: 0,flex-basis: 0,-webkit-box-flex: 1,-ms-flex-positive: 1,flex-grow: 1,max-width: 100%)),
        xl:self-col-px('', 'xl\\:col', (  -ms-flex-preferred-size: 0,flex-basis: 0,-webkit-box-flex: 1,-ms-flex-positive: 1,flex-grow: 1,max-width: 100%)),
);
$grid-row-gap: (
        default:self-mixin-tyles-properties($spacers,'grid-row-gap', 'grid-row-gap'),
        sm:self-mixin-tyles-properties($spacers,'sm\\:grid-row-gap', 'grid-row-gap'),
        md:self-mixin-tyles-properties($spacers,'md\\:grid-row-gap', 'grid-row-gap'),
        lg:self-mixin-tyles-properties($spacers,'lg\\:grid-row-gap', 'grid-row-gap'),
        xl:self-mixin-tyles-properties($spacers,'xl\\:grid-row-gap', 'grid-row-gap'),
);
$grid-column-gap: (
        default:self-mixin-tyles-properties($spacers,'grid-column-gap', 'grid-column-gap'),
        sm:self-mixin-tyles-properties($spacers,'sm\\:grid-column-gap', 'grid-column-gap'),
        md:self-mixin-tyles-properties($spacers,'md\\:grid-column-gap', 'grid-column-gap'),
        lg:self-mixin-tyles-properties($spacers,'lg\\:grid-column-gap', 'grid-column-gap'),
        xl:self-mixin-tyles-properties($spacers,'xl\\:grid-column-gap', 'grid-column-gap'),
);

$grid-column-start: (
        default:self-mixin-tyles-properties(12,'grid-column-start', 'grid-column-start'),
        sm:self-mixin-tyles-properties(12,'sm\\:grid-column-start', 'grid-column-start'),
        md:self-mixin-tyles-properties(12,'md\\:grid-column-start', 'grid-column-start'),
        lg:self-mixin-tyles-properties(12,'lg\\:grid-column-start', 'grid-column-start'),
        xl:self-mixin-tyles-properties(12,'xl\\:grid-column-start', 'grid-column-start'),
);
$grid-column-end: (
        default:self-mixin-tyles-properties(12,'grid-column-end', 'grid-column-end'),
        sm:self-mixin-tyles-properties(12,'sm\\:grid-column-end', 'grid-column-end'),
        md:self-mixin-tyles-properties(12,'md\\:grid-column-end', 'grid-column-end'),
        lg:self-mixin-tyles-properties(12,'lg\\:grid-column-end', 'grid-column-end'),
        xl:self-mixin-tyles-properties(12,'xl\\:grid-column-end', 'grid-column-end'),
);


$grid-row-start: (
        default:self-mixin-tyles-properties(12,'grid-row-start', 'grid-row-start'),
        sm:self-mixin-tyles-properties(12,'sm\\:grid-row-start', 'grid-row-start'),
        md:self-mixin-tyles-properties(12,'md\\:grid-row-start', 'grid-row-start'),
        lg:self-mixin-tyles-properties(12,'lg\\:grid-row-start', 'grid-row-start'),
        xl:self-mixin-tyles-properties(12,'xl\\:grid-row-start', 'grid-row-start'),
);
$grid-row-end: (
        default:self-mixin-tyles-properties(12,'grid-row-end', 'grid-row-end'),
        sm:self-mixin-tyles-properties(12,'sm\\:grid-row-end', 'grid-row-end'),
        md:self-mixin-tyles-properties(12,'md\\:grid-row-end', 'grid-row-end'),
        lg:self-mixin-tyles-properties(12,'lg\\:grid-row-end', 'grid-row-end'),
        xl:self-mixin-tyles-properties(12,'xl\\:grid-row-end', 'grid-column-end'),
);
$w-100: (
        default:self-col-px('', 'w-100', ( width: 100% )),
);

//$insertMap is Array;
// $insertMap:  $col-px,$displayMap ,$flex-justify-align,;
$insertMap:  $col-map,$displayMap,$flex-justify-align,$row-px,$margin-padding,$w-100,$grid-row-gap,$grid-column-gap,$grid-column-start,$grid-column-end,$col-px,
$grid-row-start,$grid-row-end,$hr,$box-shadow,$boder-width,$boder-border-radius;
// $insertMap:  $grid-column-gap,$grid-row-gap,$grid-column-start,$grid-column-end,$grid-row-start,$grid-row-end,$box-shadow,$boder-width,$boder-border-radius,$hr;
 $insertMap:  $displayMap,$margin-padding;

//@debug list-separator([1px, 2px, 3px]);

$configFlex:'default','xs','sm','md','lg','xl';
$gridPoints: self-mixin-configuration($configFlex,12,16px,'grid');
$flexPoints: self-mixin-configuration($configFlex, 12,15px,'flex');


//$classPoints:(col:$flexPoints,grid:$gridPoints,insert:$insertMap);
$classPoints:(col:$flexPoints,grid:$gridPoints,insert:$insertMap);

@include self-mixin-split-screen($media-min-max-points,$classPoints);
