side-navigation {
	height: 100%;
}
.side-navigation {
	position: fixed;
	top: 0;
	left: 0px;
	width: auto;
	height: 100%;
	bottom: 0;
	z-index: 99;
}
.overflow-y {
	overflow-y: auto;
	overflow-x: hidden;
}
.unis-navigation {
	height: 100%;
	box-shadow: 0px 0.5rem 4.5714285714rem rgba(44, 60, 89, 0.17);
	z-index: 99999;
	.aside-unfold {
		transition: all 0.5s;
		position: relative;
		height: 100%;
		display: flex;
		.aside-controller {
			position: absolute;
			right: -0.8rem;
			cursor: pointer;
			top: 4.3rem;
			box-shadow: 0px 0px 0.2142857143rem rgba(44, 60, 89, 0.2);
			background: #ffffff;
			border-radius: 0.1rem;
			width: 1.45rem;
			height: 1.45rem;
			display: flex;
			align-items: center;
			justify-content: center;
			.right {
				position: relative;
			}
			.right-arrow1 {
				left: -0.7142857143rem;
				border-right: 6px #B4B5B5 solid;
			}
			.right-arrow2 {
				border-right: 6px #ffffff solid;
			}
			&:hover {
				background: #777879;
				.right-arrow1 {
					border-right: 6px #ffffff solid;
				}
				.right-arrow2 {
					border-right: 6px #777879 solid;
				}
			}
			&:active {
				background: #444545;
				.right-arrow1 {
					border-right: 6px #ffffff solid;
				}
				.right-arrow2 {
					border-right: 6px #444545 solid;
				}
			}
		}
		.parent-level-big {
			background: #444545;
			width: 15rem;
			height: 100%;
			min-width: 15rem;
			transition: all 0.5s;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: nowrap;
			flex-direction: column;
			.log-big {
				width: 6.35rem;
				height: 120px;
				transition: all 0.5s;
				display: block;
				position: relative;
				img {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					margin: auto;
					width: 6.35rem;
					height: auto;
				}
			}
			.log-nano {
				width: 1.55rem;
				height: 120px;
				display: none;
				position: relative;
				img {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					margin: auto;
					width: 1.55rem;
					height: auto;
				}
			}
			& > .active {
				background: rgba(200, 216, 228, 0.7);
				transition: all 0.5s;
			}
			.nav-link-detales {
				padding: 0 8px;
				box-sizing: border-box;
				width: 100%;
				height: calc(100% - 120px);
				&::-webkit-scrollbar {
					width: 0.3125rem;
					height: 0.25rem;
					width: 0.3125rem;
					height: 0.25rem;
				}
				&::-webkit-scrollbar-thumb {
					border-radius: 0.375rem;
					background: #777879;
					border-radius: 0.375rem;
					background: #777879;
				}
				&::-webkit-scrollbar-track {
					border-radius: 2px;
					background: #F9F9F9;
					border-radius: 2px;
					background: #F9F9F9;
				}
				.nav-link-groud {
					background: #444545;
					height: auto;
				}
				.group-name {
					min-height: 42px;
					display: flex;
					align-items: center;
					position: relative;
					padding-left: 16px;
					background: #444545;
					.text {
						color: white;
						font-size: 10px;
						z-index: 999;
						background: #444545;
						transform: scale(0.83);
					}
				}
				.item_connect {
					width: 100%;
					box-sizing: border-box;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					position: relative;
					background: #444545;
					transition: all 0.5s;
					.hover-details {
						position: absolute;
						top: 100%;
						padding-top: 10px;
						left: 0;
						width: 175px;
						display: none;
						z-index: 999999999;
						.hover-details-box {
							padding: 16px 8px;
							text-align: left;
							border-radius: 4px;
							background: #4D4E4E;
							box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
							.hover-details-item {
								border-radius: 4px;
								padding-top: 0.5em;
								padding-bottom: 0.5em;
								line-height: 1.5rem;
								padding-left: 16px;
								padding-right: 16px;
								color: #FFFFFF;
								&:hover {
									background: #7C8C98;
								}
							}
						}
					}
					.item_box {
						width: 100%;
						background: #444545;
						position: relative;
						transition: all 0.5s;
						display: flex;
						border-radius: 6px;
						align-items: center;
						justify-content: flex-start !important;
						font-size: 14px;
						min-height: 42px;
						box-sizing: border-box;
						z-index: 9999;
						margin-bottom: 1px;
						border: 1px solid rgba(20, 28, 28, 0);
						box-shadow: 0 1px 0 rgba(41, 54, 54, 0);
						-webkit-box-shadow: 0 1px 0 rgba(41, 54, 54, 0);
						-moz-box-shadow: 0 1px 0 rgba(41, 54, 54, 0);
						background:  rgba(152, 193, 213, 0);
						transition: all 0.5s;
						&:hover {
							background:  rgba(152, 193, 213, 0.34);
							border: 1px solid rgba(20, 28, 28, 0.44);
							box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
							-webkit-box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
							-moz-box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
							transition: all 0.5s;
						}
						&.active {
							transition: all 0.5s;
							background:  rgba(152, 193, 213, 0.34);
							border: 1px solid rgba(20, 28, 28, 0.44);
							box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
							 -webkit-box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
							 -moz-box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
							transition: all 0.5s;
						}
						.img-box {
							margin-left: 1.4rem;
							width: 1.4rem;
							display: flex;
							align-items: center;
							text-align: center;
							img {
								height: 1rem;
								width: auto;
							}
						}
						.pro-ab {
							width: auto;
							overflow: hidden;
							flex: 1;
							padding-right: 8px;
							transition: all 0.5s;
							.arrow-down {
								font-size: 8px;
								color: #ffffff;
								transform: scale(0.75) !important;
							}
							.text-box {
								display: flex;
								justify-content: space-between;
								align-items: center;
								margin-left: 1rem;
								img {
									height: 0.65rem;
									width: auto;
									transition: all 0.5s;
								}
								.text {
									white-space: nowrap;
									color: #ffffff;
									font-style: normal;
									padding-right: 0.3571428571rem;
									font-weight: bold;
									font-size: 0.875rem;
								}
							}
						}
					}
					.show-childs {
						height: 0 !important;
						overflow: hidden !important;
						transition: all 0.5s;
						.child-item {
							opacity: 0 !important;
							transition: opacity 0.8s;
						}
					}
					.childs-box {
						flex: 0 0 100%;
						max-width: 100%;
						overflow: inherit;
						z-index: 0;
						transition: all 0.5s;
						.child-item {
							opacity: 1;
							display: block;
							transition: opacity 0.7s;
							position: relative;
							padding: 0 0 1px 14px;
							margin-left: 32px;
							font-size: 0.875rem;
							color: white;
							transition: all 0.5s;
							&::before {
								position: absolute;
								content: " ";
								top: 50%;
								left: -2px;
								width: 15px;
								height: 1px;
								background: #9b9b9b;
							}
							.item-childs-link {
								display: flex;
								border-radius: 6px;
								align-items: center;
								font-size: 14px;
								min-height: 40px;
								box-sizing: border-box;
								padding-left: 10px;
								background:  rgba(152, 193, 213, 0);
								border: 1px solid rgba(20, 28, 28, 0);
								box-shadow: 0 1px 0 rgba(41, 54, 54, 0);
								-webkit-box-shadow: 0 1px 0 rgba(41, 54, 54, 0);
								-moz-box-shadow: 0 1px 0 rgba(41, 54, 54, 0);
								transition: all 0.5s;
								 sapn{
									margin-top: -3px;
								}
								&:hover {
									background:  rgba(152, 193, 213, 0.34);
									border: 1px solid rgba(20, 28, 28, 0.44);
									box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
									-webkit-box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
									-moz-box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
									transition: all 0.5s;
								}
							}

							.link_active {
								background:  rgba(152, 193, 213, 0.34);
								border: 1px solid rgba(20, 28, 28, 0.44);
								box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
								-webkit-box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
								-moz-box-shadow: 0 1px 0 rgba(41, 54, 54, 0.3);
								transition: all 0.5s;
							}

							.line {
								position: absolute;
								top: 0;
								left: -2px;
								width: 1px;
								bottom: 0;
								background: #9b9b9b;
							}
							&:last-child {
								.line {
									bottom: 49% !important;
								}
							}
							&:first-child {
								margin-top: 3px;
							}
							&:hover {
								color: rgba(200, 216, 228, 0.7);
								transition: all 0.5s;
							}
						}
					}
				}
			}
		}
		.parent-level-small {
			width: 4.375rem;
			min-width: 4.375rem;
			transition: all 0.5s;
			.log-big {
				display: none;
			}
			.log-nano {
				display: block;
			}
			.nav-link-detales {
				.group-name {
					display: none;
				}
				.item_connect {
					.hover-details {
					}
					&:hover {
						.hover-details {
							display: block !important;
							.hover-details-item {
							}
						}
					}
					.childs-box {
						display: none !important;
					}
					.item_box {
						width: 100% !important;
						justify-content: center !important;
						.img-box {
							margin-left: auto;
							width: 1.4rem;
							display: contents !important;
							text-align: center;
							background: red;
							img {
								height: 1rem;
								width: auto;
							}
						}
						.pro-ab {
							width: 0px;
							overflow: hidden;
							transition: all 0.5s;
							display: none;
							.text-box {
								position: absolute;
								left: 0;
								top: 100%;
								min-width: 8rem;
								margin-left: 1.3rem;
								white-space: nowrap;
								color: #ffffff;
								display: flex;
								justify-content: left;
								align-items: center;
								img {
									display: block;
								}
								.text {
									min-width: 7rem;
									display: flex;
									justify-content: center;
									padding-left: 0.4714285714rem;
									padding-right: 0.4714285714rem;
									align-items: center;
									padding-top: 0.6875em;
									padding-bottom: 0.6875em;
									background: #444545;
									border-radius: 2px;
								}
							}
						}
					}
				}
			}
		}
		.fold-details {
			flex: 1;
			min-width: 10.625rem;
			transition: all 0.5s;
		}
	}
	.aside-fold {
		transition: all 0.5s;
		.aside-controller {
			.right {
				-webkit-transform: rotate(-180deg);
				transform: rotate(-180deg);
				transition: -webkit-transform 0.3s;
				transition: transform 0.3s, -webkit-transform 0.3s;
			}
		}
		.fold-details {
			width: 0px;
			min-width: 0;
		}
	}
}
.unis-navigation .aside-unfold .aside-controller .right-arrow1, .unis-navigation .aside-unfold .aside-controller .right-arrow2 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: -0.5714285714rem;
	top: -0.4285714286rem;
	border-top: 6px transparent dashed;
	border-left: 6px transparent dashed;
	border-bottom: 6px transparent dashed;
	border-right: 6px #D32F2F solid;
	overflow: hidden;
}
