@import "variables";
@import "base";
@import "asideNav";
@import "topBar";
@import "components/components";
@import "card/card";
@import "base/list-group";
.login-moudle {
  min-height: 50%;
  width: 45%;
  max-width: 580px;
  max-height: 80%;
  position: relative;
}
.h-100{
  height: 100%;
}

.component-view{
  overflow-y: auto;
  height:  calc(100% - 60px);
  @include rollBackground();
}
