@import "variables";
@import "base";
@import "asideNav";
@import "topBar";
@import "components/components";
@import "card/card";
@import "base/list-group";
.login-moudle {
  min-height: 50%;
  width: 45%;
  max-width: 580px;
  max-height: 80%;
  position: relative;
}


