#message {
	width: 60%;
	position: absolute;
	top: 0px;
	left:  0;
	right: 0;
	margin: auto;
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px){
	#message {
		width: 100%;
	}
}
.message {
	width:100%;
	height: 65px;
	border-radius: 0.5rem;
	border: 1px solid transparent;
	padding-right: 4rem;
}
.icon_box{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	cursor: pointer;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
