@mixin transitionAll5($align: 0.5s, $obj: all) {
  transition: $obj $align;
}

@mixin countHeight($height, $impo: null) {
  padding-top: #{($height - 24)/32}rem;
  padding-bottom: #{($height - 24)/32}rem;
  line-height: 24px;
}

@mixin arrowTransition($time, $rotate) {
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
  transition: -webkit-transform $time;
  transition: transform $time, -webkit-transform $time;
}
