.error {
	color: #D32F2F !important;
	font-size: 10px !important;
}

.loading {

}

.loading:before,
.loading:after,
.loading {
	border-radius: 50%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: loader-13 1.8s infinite ease-in-out;
	animation: loader-13 1.8s infinite ease-in-out;
	display: inline-block;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
}

.loading {
	color: currentcolor;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	top: -1em;
}

.loading:before {
	right: 100%;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loading:after {
	left: 100%;
}

.loading:before,
.loading:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: inherit;
	height: inherit;
}

@-webkit-keyframes loader-13 {
	0%, 80%, 100% {
		box-shadow: 0 1em 0 -1em;
	}
	40% {
		box-shadow: 0 1em 0 -.2em;
	}
}

@keyframes loader-13 {
	0%, 80%, 100% {
		box-shadow: 0 1em 0 -1em;
	}
	40% {
		box-shadow: 0 1em 0 -.2em;
	}
}

.directive-loding-box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.73);
	z-index: 9000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sk-fading-circle {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
}

.sk-fading-circle .sk-circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.sk-fading-circle .sk-circle:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #ffffff;
	border-radius: 100%;
	-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
	animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
	0%, 39%, 100% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
}

@keyframes sk-circleFadeDelay {
	0%, 39%, 100% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
}

.spinner {
	width: 70px;
	margin-left: 10px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #ffffff;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.fw-4 {
	font-weight: 400 !important;
}

.m-ma-h {
	position: absolute;
	top: 0 !important;
	bottom: 0 !important;
	margin: auto;
}

.unis-input[error] {
	background: rgba(229, 38, 40, 0.1);
}

.topIn-enter-from,
.topIn-leave-to {
	transform: translate3d(0, -180%, 0);
	opacity: 0;
}

.topIn-leave-from,
.topIn-enter-to {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.topIn-enter-active {
	transition: all 0.5s;
}

.topIn-leave-active {
	transition: all 1s;
}

.topInLoging-enter-from,
.topInLoging-leave-to {
	pacity: 0;
	transform: translate3d(0, -180%, 0);
}

.topInLoging-leave-from,
.topInLoging-enter-to {
	transform: translate3d(0, 0, 0);
}

.topInLoging-enter-active {
	transition: all 1s ease-out;
}

.topInLoging-leave-active {
	transition: all 1s cubic-bezier(0.42, -0.21, 1, 1);
}

.login-moudle {
	min-height: 80%;
	width: 45%;
	max-height: 80%;
	height: 80%;
	position: relative;
}

.col-media {
}

.media-l-4 {
	margin-left: 1.5rem !important;
}

.media-t-4 {
	margin-top: 1.5rem !important;
}

.mediaju-center-to-left {
	justify-content: center !important;
	text-align: center;
}

.media-logo {
	height: 63px
}

.product-modal {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

.productModal-animation {
	-webkit-animation: marginTop 0.25s linear;
	-moz-animation: marginTop 0.25s linear;
	-ms-animation: marginTop 0.25s linear;
	-o-animation: marginTop 0.25s linear;
	animation: marginTop 0.25s linear;
}

.m-t-20 {
	margin-top: 10%;
}

.login-up-link {
	margin-left: 15px;
	cursor: pointer;
	color: #488492 !important;
	font-weight: bold;
}

.media-d-no {
	display: block;
}

.media-wid100 {
	width: 100%;
	height: 100%;
	.media-pl-80 {
		padding-left: 80px;
	}
	.media-pl-30 {
		padding-left: 30px;
	}
	.media-logo {
		width: 180px;
		height: auto;
	}

}

.or {
	margin-top: 15px;
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
	#sidebar {
		display: none;
	}
	#riehgRouterView {
		width: 100%;
		position: inherit;
		top: 0;
		height: 100%;
	}
	.login-moudle {
		height: auto;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 0px 0px rgba(44, 60, 89, 0.07);
	}
	.col-media {
		margin-left: 0 !important;
		width: 100% !important;
		-webkit-box-flex: 0 !important;
		-ms-flex: 0 0 100% !important;
		flex: 0 0 100% !important;
		max-width: 100% !important;
		margin-right: 0 !important;
		margin-top: 1.5rem !important;
	}
	.media-l-4 {
		margin-left: 0 !important;
	}
	.media-t-4 {
		margin-top: 0 !important;
	}
	.mediaju-center-to-left {
		justify-content: flex-start;
		text-align: left;
	}
	.media-logo {
		height: 40px;
		margin-bottom: 40px;
	}
	.product-modal {
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}
	.productModal-animation {
		-webkit-animation: marginTop 0.25s linear;
		-moz-animation: marginTop 0.25s linear;
		-ms-animation: marginTop 0.25s linear;
		-o-animation: marginTop 0.25s linear;
		animation: marginTop 0.25s linear;
	}
	.m-t-20 {
		margin-top: 25px;
	}
	.media-wid100 {
		width: 90%;
		padding-top: 10px;
		height: 100%;
		margin: auto;
		.media-pl-80 {
			padding-left: 0;
		}
		.media-pl-30 {
			padding-left: 0;
		}
		.media-logo {
			width: 100px;
			height: auto;
		}
	}
	.media-d-no {
		display: none;
	}
	.or {
		display: none;
	}
}

.leftLoging-enter-from,
.leftLoging-leave-to {
	pacity: 0;
	transform: translate3d(0, -120%, 0);
}

.leftLoging-leave-from,
.leftLoging-enter-to {
	transform: translate3d(0, 0, 0);
}

.leftLoging-enter-active {
	transition: all0 1s ease-out;
}

.leftLoging-leave-active {
	transition: all 1s cubic-bezier(0.42, -0.21, 1, 1);
}

.fade-enter-from, .fade-leave-to {
	transform: translateX(20px);
	opacity: 0;
}

.fade-enter-to, .fade-leave-from {
	opacity: 1;
}

.fade-enter-active {
	transition: all 0.7s ease;
}

.fade-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.6, 0.6, 1);
}

.tram-hi {
	height: 0px;
	overflow: hidden;
	transition: all 0.5s;
}

.tram-ov {
	height: 70px;
	transition: all 0.5s;
}

.bg-no {
	background: inherit !important;
}

.wid70 {
	width: 70% !important;
}

.rs-th {
	padding-left: 15px !important;
}

.br-r-c {
	border-right: 1px solid #CECECE !important;
}

.br-t-n {
	border-top: none !important;
}

.tra-inset {
	inset: 0;
	position: absolute;
}

.fadee-enter-from,
.fadee-leave-to {
	opacity: 0;
	//transform: scale(0.999);
	transform: translate3d(-25px, 0, 0);
}

.fadee-leave-from,
.fadee-enter-to {
	opacity: 1;
	//transform: scale(1);
	transform: translate3d(0, 0, 0);
}

.fadee-enter-active,
.fadee-leave-active {
	transition: all 0.5s;
}

.scale-enter-from,
.scale-leave-to {
	transform: scale(0);
}

.scale-leave-from,
.scale-enter-to {
	transform: scale(1);
}

.scale-enter-active,
.scale-leave-active {
	transition: all 0.2s;
}

.left-enter-from,
.left-leave-to {
	transform: translate3d(-100%, 0, 0);
}

.left-leave-from,
.left-enter-to {
	transform: translate3d(0, 0, 0);
}

.left-enter-active,
.left-leave-active {
	transition: all 0.2s;
}

.inset {
	inset: 0
}

.sig-in-box {
	position: absolute;
	inset: 25px;
	top: 120px;
}

.parent:before, .parent:after {
	content: "";
	display: table;
}

.shadows-no {
	background: rgba(255, 255, 255, 0) !important;
	min-height: 4.5714285714rem;
	box-shadow: 0px 7px 20px rgba(44, 60, 89, 0) !important;

}

.transition-5 {
	transition: all 0.5s;
}
.unis-select-icon-47{
	cursor: pointer;
	padding :0  10px  0 0 !important;
	min-height: 32px!important;
	min-width: 120px!important;
	width: inherit!important;
	background: inherit!important;
}
.unis-select-icon-47::after {
	display:none !important;
}
.unis-select-icon-47::before {
	font-family: "unis" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #969696;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "юди" !important;
	position: absolute;
	top: 15%;
	right: 15px;
	border-color: currentcolor !important;
	opacity: 1;
	transform: scale(0.5, 0.4) !important;
	-ms-transform: scale(0.5, 0.4) !important;
	-moz-transform: scale(0.5, 0.4) !important;
	-webkit-transform: scale(0.5, 0.4) !important;
	-o-transform: scale(0.5, 0.4) !important;
	display: flex;
	transition: -webkit-transform 0.1s;
	transition: transform 0.1s, -webkit-transform 0.1s;
}


.unis-select-icon-47:focus::before {
	transform: rotate(-180deg) scale(0.5, 0.4) !important;
	transition: -webkit-transform 0.1s;
	transition: transform 0.1s, -webkit-transform 0.1s;
}
.f-10{
	font-size: 10px;
	transform:scale(0.75) !important;
}


