.col-1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%; }

.col-2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%; }

.col-5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%; }

.col-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%; }

.col-11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.grid-1 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(1, 1fr); }

.grid-2 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(2, 1fr); }

.grid-3 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(3, 1fr); }

.grid-4 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(4, 1fr); }

.grid-5 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(5, 1fr); }

.grid-6 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(6, 1fr); }

.grid-7 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(7, 1fr); }

.grid-8 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(8, 1fr); }

.grid-9 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(9, 1fr); }

.grid-10 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(10, 1fr); }

.grid-11 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(11, 1fr); }

.grid-12 {
  grid-gap: 16px 16px;
  grid-template-columns: repeat(12, 1fr); }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-block {
  display: block; }

.d-table {
  display: table; }

.d-table-row {
  display: table-row; }

.d-table-cell {
  display: table-cell; }

.d-flex {
  display: flex; }

.d-grid {
  display: grid; }

.d-inline-flex {
  display: inline-flex; }

.m-0 {
  margin: 0!important; }

.mt-0, .my-0 {
  margin-top: 0!important; }

.mr-0, .mx-0 {
  margin-right: 0!important; }

.mb-0, .my-0 {
  margin-bottom: 0!important; }

.ml-0, .mx-0 {
  margin-left: 0!important; }

.m-1 {
  margin: 0.25rem!important; }

.mt-1, .my-1 {
  margin-top: 0.25rem!important; }

.mr-1, .mx-1 {
  margin-right: 0.25rem!important; }

.mb-1, .my-1 {
  margin-bottom: 0.25rem!important; }

.ml-1, .mx-1 {
  margin-left: 0.25rem!important; }

.m-2 {
  margin: 0.5rem!important; }

.mt-2, .my-2 {
  margin-top: 0.5rem!important; }

.mr-2, .mx-2 {
  margin-right: 0.5rem!important; }

.mb-2, .my-2 {
  margin-bottom: 0.5rem!important; }

.ml-2, .mx-2 {
  margin-left: 0.5rem!important; }

.m-3 {
  margin: 1rem!important; }

.mt-3, .my-3 {
  margin-top: 1rem!important; }

.mr-3, .mx-3 {
  margin-right: 1rem!important; }

.mb-3, .my-3 {
  margin-bottom: 1rem!important; }

.ml-3, .mx-3 {
  margin-left: 1rem!important; }

.m-4 {
  margin: 1.5rem!important; }

.mt-4, .my-4 {
  margin-top: 1.5rem!important; }

.mr-4, .mx-4 {
  margin-right: 1.5rem!important; }

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important; }

.ml-4, .mx-4 {
  margin-left: 1.5rem!important; }

.m-5 {
  margin: 3rem!important; }

.mt-5, .my-5 {
  margin-top: 3rem!important; }

.mr-5, .mx-5 {
  margin-right: 3rem!important; }

.mb-5, .my-5 {
  margin-bottom: 3rem!important; }

.ml-5, .mx-5 {
  margin-left: 3rem!important; }

.p-0 {
  padding: 0!important; }

.pt-0, .py-0 {
  padding-top: 0!important; }

.pr-0, .px-0 {
  padding-right: 0!important; }

.pb-0, .py-0 {
  padding-bottom: 0!important; }

.pl-0, .px-0 {
  padding-left: 0!important; }

.p-1 {
  padding: 0.25rem!important; }

.pt-1, .py-1 {
  padding-top: 0.25rem!important; }

.pr-1, .px-1 {
  padding-right: 0.25rem!important; }

.pb-1, .py-1 {
  padding-bottom: 0.25rem!important; }

.pl-1, .px-1 {
  padding-left: 0.25rem!important; }

.p-2 {
  padding: 0.5rem!important; }

.pt-2, .py-2 {
  padding-top: 0.5rem!important; }

.pr-2, .px-2 {
  padding-right: 0.5rem!important; }

.pb-2, .py-2 {
  padding-bottom: 0.5rem!important; }

.pl-2, .px-2 {
  padding-left: 0.5rem!important; }

.p-3 {
  padding: 1rem!important; }

.pt-3, .py-3 {
  padding-top: 1rem!important; }

.pr-3, .px-3 {
  padding-right: 1rem!important; }

.pb-3, .py-3 {
  padding-bottom: 1rem!important; }

.pl-3, .px-3 {
  padding-left: 1rem!important; }

.p-4 {
  padding: 1.5rem!important; }

.pt-4, .py-4 {
  padding-top: 1.5rem!important; }

.pr-4, .px-4 {
  padding-right: 1.5rem!important; }

.pb-4, .py-4 {
  padding-bottom: 1.5rem!important; }

.pl-4, .px-4 {
  padding-left: 1.5rem!important; }

.p-5 {
  padding: 3rem!important; }

.pt-5, .py-5 {
  padding-top: 3rem!important; }

.pr-5, .px-5 {
  padding-right: 3rem!important; }

.pb-5, .py-5 {
  padding-bottom: 3rem!important; }

.pl-5, .px-5 {
  padding-left: 3rem!important; }

@media (max-width: 540px) {
  .xs\:col-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%; }

  .xs\:col-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%; }

  .xs\:col-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .xs\:col-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; }

  .xs\:col-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%; }

  .xs\:col-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .xs\:col-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%; }

  .xs\:col-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%; }

  .xs\:col-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .xs\:col-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%; }

  .xs\:col-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%; }

  .xs\:col-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .xs\:grid-1 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(1, 1fr); }

  .xs\:grid-2 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(2, 1fr); }

  .xs\:grid-3 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(3, 1fr); }

  .xs\:grid-4 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(4, 1fr); }

  .xs\:grid-5 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(5, 1fr); }

  .xs\:grid-6 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(6, 1fr); }

  .xs\:grid-7 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(7, 1fr); }

  .xs\:grid-8 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(8, 1fr); }

  .xs\:grid-9 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(9, 1fr); }

  .xs\:grid-10 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(10, 1fr); }

  .xs\:grid-11 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(11, 1fr); }

  .xs\:grid-12 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(12, 1fr); }

  .xs\:d-none {
    display: none; }

  .xs\:d-inline {
    display: inline; }

  .xs\:d-inline-block {
    display: inline-block; }

  .xs\:d-block {
    display: block; }

  .xs\:d-table {
    display: table; }

  .xs\:d-table-row {
    display: table-row; }

  .xs\:d-table-cell {
    display: table-cell; }

  .xs\:d-flex {
    display: flex; }

  .xs\:d-grid {
    display: grid; }

  .xs\:d-inline-flex {
    display: inline-flex; }

  .xs\:m-0 {
    margin: 0!important; }

  .xs\:mt-0, .xs\:my-0 {
    margin-top: 0!important; }

  .xs\:mr-0, .xs\:mx-0 {
    margin-right: 0!important; }

  .xs\:mb-0, .xs\:my-0 {
    margin-bottom: 0!important; }

  .xs\:ml-0, .xs\:mx-0 {
    margin-left: 0!important; }

  .xs\:m-1 {
    margin: 0.25rem!important; }

  .xs\:mt-1, .xs\:my-1 {
    margin-top: 0.25rem!important; }

  .xs\:mr-1, .xs\:mx-1 {
    margin-right: 0.25rem!important; }

  .xs\:mb-1, .xs\:my-1 {
    margin-bottom: 0.25rem!important; }

  .xs\:ml-1, .xs\:mx-1 {
    margin-left: 0.25rem!important; }

  .xs\:m-2 {
    margin: 0.5rem!important; }

  .xs\:mt-2, .xs\:my-2 {
    margin-top: 0.5rem!important; }

  .xs\:mr-2, .xs\:mx-2 {
    margin-right: 0.5rem!important; }

  .xs\:mb-2, .xs\:my-2 {
    margin-bottom: 0.5rem!important; }

  .xs\:ml-2, .xs\:mx-2 {
    margin-left: 0.5rem!important; }

  .xs\:m-3 {
    margin: 1rem!important; }

  .xs\:mt-3, .xs\:my-3 {
    margin-top: 1rem!important; }

  .xs\:mr-3, .xs\:mx-3 {
    margin-right: 1rem!important; }

  .xs\:mb-3, .xs\:my-3 {
    margin-bottom: 1rem!important; }

  .xs\:ml-3, .xs\:mx-3 {
    margin-left: 1rem!important; }

  .xs\:m-4 {
    margin: 1.5rem!important; }

  .xs\:mt-4, .xs\:my-4 {
    margin-top: 1.5rem!important; }

  .xs\:mr-4, .xs\:mx-4 {
    margin-right: 1.5rem!important; }

  .xs\:mb-4, .xs\:my-4 {
    margin-bottom: 1.5rem!important; }

  .xs\:ml-4, .xs\:mx-4 {
    margin-left: 1.5rem!important; }

  .xs\:m-5 {
    margin: 3rem!important; }

  .xs\:mt-5, .xs\:my-5 {
    margin-top: 3rem!important; }

  .xs\:mr-5, .xs\:mx-5 {
    margin-right: 3rem!important; }

  .xs\:mb-5, .xs\:my-5 {
    margin-bottom: 3rem!important; }

  .xs\:ml-5, .xs\:mx-5 {
    margin-left: 3rem!important; }

  .xs\:p-0 {
    padding: 0!important; }

  .xs\:pt-0, .xs\:py-0 {
    padding-top: 0!important; }

  .xs\:pr-0, .xs\:px-0 {
    padding-right: 0!important; }

  .xs\:pb-0, .xs\:py-0 {
    padding-bottom: 0!important; }

  .xs\:pl-0, .xs\:px-0 {
    padding-left: 0!important; }

  .xs\:p-1 {
    padding: 0.25rem!important; }

  .xs\:pt-1, .xs\:py-1 {
    padding-top: 0.25rem!important; }

  .xs\:pr-1, .xs\:px-1 {
    padding-right: 0.25rem!important; }

  .xs\:pb-1, .xs\:py-1 {
    padding-bottom: 0.25rem!important; }

  .xs\:pl-1, .xs\:px-1 {
    padding-left: 0.25rem!important; }

  .xs\:p-2 {
    padding: 0.5rem!important; }

  .xs\:pt-2, .xs\:py-2 {
    padding-top: 0.5rem!important; }

  .xs\:pr-2, .xs\:px-2 {
    padding-right: 0.5rem!important; }

  .xs\:pb-2, .xs\:py-2 {
    padding-bottom: 0.5rem!important; }

  .xs\:pl-2, .xs\:px-2 {
    padding-left: 0.5rem!important; }

  .xs\:p-3 {
    padding: 1rem!important; }

  .xs\:pt-3, .xs\:py-3 {
    padding-top: 1rem!important; }

  .xs\:pr-3, .xs\:px-3 {
    padding-right: 1rem!important; }

  .xs\:pb-3, .xs\:py-3 {
    padding-bottom: 1rem!important; }

  .xs\:pl-3, .xs\:px-3 {
    padding-left: 1rem!important; }

  .xs\:p-4 {
    padding: 1.5rem!important; }

  .xs\:pt-4, .xs\:py-4 {
    padding-top: 1.5rem!important; }

  .xs\:pr-4, .xs\:px-4 {
    padding-right: 1.5rem!important; }

  .xs\:pb-4, .xs\:py-4 {
    padding-bottom: 1.5rem!important; }

  .xs\:pl-4, .xs\:px-4 {
    padding-left: 1.5rem!important; }

  .xs\:p-5 {
    padding: 3rem!important; }

  .xs\:pt-5, .xs\:py-5 {
    padding-top: 3rem!important; }

  .xs\:pr-5, .xs\:px-5 {
    padding-right: 3rem!important; }

  .xs\:pb-5, .xs\:py-5 {
    padding-bottom: 3rem!important; }

  .xs\:pl-5, .xs\:px-5 {
    padding-left: 3rem!important; } }
@media (max-width: 640px) {
  .sm\:col-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%; }

  .sm\:col-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%; }

  .sm\:col-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .sm\:col-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; }

  .sm\:col-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%; }

  .sm\:col-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .sm\:col-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%; }

  .sm\:col-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%; }

  .sm\:col-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .sm\:col-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%; }

  .sm\:col-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%; }

  .sm\:col-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .sm\:grid-1 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(1, 1fr); }

  .sm\:grid-2 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(2, 1fr); }

  .sm\:grid-3 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(3, 1fr); }

  .sm\:grid-4 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(4, 1fr); }

  .sm\:grid-5 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(5, 1fr); }

  .sm\:grid-6 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(6, 1fr); }

  .sm\:grid-7 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(7, 1fr); }

  .sm\:grid-8 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(8, 1fr); }

  .sm\:grid-9 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(9, 1fr); }

  .sm\:grid-10 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(10, 1fr); }

  .sm\:grid-11 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(11, 1fr); }

  .sm\:grid-12 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(12, 1fr); }

  .sm\:d-none {
    display: none; }

  .sm\:d-inline {
    display: inline; }

  .sm\:d-inline-block {
    display: inline-block; }

  .sm\:d-block {
    display: block; }

  .sm\:d-table {
    display: table; }

  .sm\:d-table-row {
    display: table-row; }

  .sm\:d-table-cell {
    display: table-cell; }

  .sm\:d-flex {
    display: flex; }

  .sm\:d-grid {
    display: grid; }

  .sm\:d-inline-flex {
    display: inline-flex; }

  .sm\:m-0 {
    margin: 0!important; }

  .sm\:mt-0, .sm\:my-0 {
    margin-top: 0!important; }

  .sm\:mr-0, .sm\:mx-0 {
    margin-right: 0!important; }

  .sm\:mb-0, .sm\:my-0 {
    margin-bottom: 0!important; }

  .sm\:ml-0, .sm\:mx-0 {
    margin-left: 0!important; }

  .sm\:m-1 {
    margin: 0.25rem!important; }

  .sm\:mt-1, .sm\:my-1 {
    margin-top: 0.25rem!important; }

  .sm\:mr-1, .sm\:mx-1 {
    margin-right: 0.25rem!important; }

  .sm\:mb-1, .sm\:my-1 {
    margin-bottom: 0.25rem!important; }

  .sm\:ml-1, .sm\:mx-1 {
    margin-left: 0.25rem!important; }

  .sm\:m-2 {
    margin: 0.5rem!important; }

  .sm\:mt-2, .sm\:my-2 {
    margin-top: 0.5rem!important; }

  .sm\:mr-2, .sm\:mx-2 {
    margin-right: 0.5rem!important; }

  .sm\:mb-2, .sm\:my-2 {
    margin-bottom: 0.5rem!important; }

  .sm\:ml-2, .sm\:mx-2 {
    margin-left: 0.5rem!important; }

  .sm\:m-3 {
    margin: 1rem!important; }

  .sm\:mt-3, .sm\:my-3 {
    margin-top: 1rem!important; }

  .sm\:mr-3, .sm\:mx-3 {
    margin-right: 1rem!important; }

  .sm\:mb-3, .sm\:my-3 {
    margin-bottom: 1rem!important; }

  .sm\:ml-3, .sm\:mx-3 {
    margin-left: 1rem!important; }

  .sm\:m-4 {
    margin: 1.5rem!important; }

  .sm\:mt-4, .sm\:my-4 {
    margin-top: 1.5rem!important; }

  .sm\:mr-4, .sm\:mx-4 {
    margin-right: 1.5rem!important; }

  .sm\:mb-4, .sm\:my-4 {
    margin-bottom: 1.5rem!important; }

  .sm\:ml-4, .sm\:mx-4 {
    margin-left: 1.5rem!important; }

  .sm\:m-5 {
    margin: 3rem!important; }

  .sm\:mt-5, .sm\:my-5 {
    margin-top: 3rem!important; }

  .sm\:mr-5, .sm\:mx-5 {
    margin-right: 3rem!important; }

  .sm\:mb-5, .sm\:my-5 {
    margin-bottom: 3rem!important; }

  .sm\:ml-5, .sm\:mx-5 {
    margin-left: 3rem!important; }

  .sm\:p-0 {
    padding: 0!important; }

  .sm\:pt-0, .sm\:py-0 {
    padding-top: 0!important; }

  .sm\:pr-0, .sm\:px-0 {
    padding-right: 0!important; }

  .sm\:pb-0, .sm\:py-0 {
    padding-bottom: 0!important; }

  .sm\:pl-0, .sm\:px-0 {
    padding-left: 0!important; }

  .sm\:p-1 {
    padding: 0.25rem!important; }

  .sm\:pt-1, .sm\:py-1 {
    padding-top: 0.25rem!important; }

  .sm\:pr-1, .sm\:px-1 {
    padding-right: 0.25rem!important; }

  .sm\:pb-1, .sm\:py-1 {
    padding-bottom: 0.25rem!important; }

  .sm\:pl-1, .sm\:px-1 {
    padding-left: 0.25rem!important; }

  .sm\:p-2 {
    padding: 0.5rem!important; }

  .sm\:pt-2, .sm\:py-2 {
    padding-top: 0.5rem!important; }

  .sm\:pr-2, .sm\:px-2 {
    padding-right: 0.5rem!important; }

  .sm\:pb-2, .sm\:py-2 {
    padding-bottom: 0.5rem!important; }

  .sm\:pl-2, .sm\:px-2 {
    padding-left: 0.5rem!important; }

  .sm\:p-3 {
    padding: 1rem!important; }

  .sm\:pt-3, .sm\:py-3 {
    padding-top: 1rem!important; }

  .sm\:pr-3, .sm\:px-3 {
    padding-right: 1rem!important; }

  .sm\:pb-3, .sm\:py-3 {
    padding-bottom: 1rem!important; }

  .sm\:pl-3, .sm\:px-3 {
    padding-left: 1rem!important; }

  .sm\:p-4 {
    padding: 1.5rem!important; }

  .sm\:pt-4, .sm\:py-4 {
    padding-top: 1.5rem!important; }

  .sm\:pr-4, .sm\:px-4 {
    padding-right: 1.5rem!important; }

  .sm\:pb-4, .sm\:py-4 {
    padding-bottom: 1.5rem!important; }

  .sm\:pl-4, .sm\:px-4 {
    padding-left: 1.5rem!important; }

  .sm\:p-5 {
    padding: 3rem!important; }

  .sm\:pt-5, .sm\:py-5 {
    padding-top: 3rem!important; }

  .sm\:pr-5, .sm\:px-5 {
    padding-right: 3rem!important; }

  .sm\:pb-5, .sm\:py-5 {
    padding-bottom: 3rem!important; }

  .sm\:pl-5, .sm\:px-5 {
    padding-left: 3rem!important; } }
@media (max-width: 750px) {
  .md\:col-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%; }

  .md\:col-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%; }

  .md\:col-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .md\:col-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; }

  .md\:col-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%; }

  .md\:col-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .md\:col-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%; }

  .md\:col-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%; }

  .md\:col-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .md\:col-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%; }

  .md\:col-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%; }

  .md\:col-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .md\:grid-1 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(1, 1fr); }

  .md\:grid-2 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(2, 1fr); }

  .md\:grid-3 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(3, 1fr); }

  .md\:grid-4 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(4, 1fr); }

  .md\:grid-5 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(5, 1fr); }

  .md\:grid-6 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(6, 1fr); }

  .md\:grid-7 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(7, 1fr); }

  .md\:grid-8 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(8, 1fr); }

  .md\:grid-9 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(9, 1fr); }

  .md\:grid-10 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(10, 1fr); }

  .md\:grid-11 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(11, 1fr); }

  .md\:grid-12 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(12, 1fr); }

  .md\:d-none {
    display: none; }

  .md\:d-inline {
    display: inline; }

  .md\:d-inline-block {
    display: inline-block; }

  .md\:d-block {
    display: block; }

  .md\:d-table {
    display: table; }

  .md\:d-table-row {
    display: table-row; }

  .md\:d-table-cell {
    display: table-cell; }

  .md\:d-flex {
    display: flex; }

  .md\:d-grid {
    display: grid; }

  .md\:d-inline-flex {
    display: inline-flex; }

  .md\:m-0 {
    margin: 0!important; }

  .md\:mt-0, .md\:my-0 {
    margin-top: 0!important; }

  .md\:mr-0, .md\:mx-0 {
    margin-right: 0!important; }

  .md\:mb-0, .md\:my-0 {
    margin-bottom: 0!important; }

  .md\:ml-0, .md\:mx-0 {
    margin-left: 0!important; }

  .md\:m-1 {
    margin: 0.25rem!important; }

  .md\:mt-1, .md\:my-1 {
    margin-top: 0.25rem!important; }

  .md\:mr-1, .md\:mx-1 {
    margin-right: 0.25rem!important; }

  .md\:mb-1, .md\:my-1 {
    margin-bottom: 0.25rem!important; }

  .md\:ml-1, .md\:mx-1 {
    margin-left: 0.25rem!important; }

  .md\:m-2 {
    margin: 0.5rem!important; }

  .md\:mt-2, .md\:my-2 {
    margin-top: 0.5rem!important; }

  .md\:mr-2, .md\:mx-2 {
    margin-right: 0.5rem!important; }

  .md\:mb-2, .md\:my-2 {
    margin-bottom: 0.5rem!important; }

  .md\:ml-2, .md\:mx-2 {
    margin-left: 0.5rem!important; }

  .md\:m-3 {
    margin: 1rem!important; }

  .md\:mt-3, .md\:my-3 {
    margin-top: 1rem!important; }

  .md\:mr-3, .md\:mx-3 {
    margin-right: 1rem!important; }

  .md\:mb-3, .md\:my-3 {
    margin-bottom: 1rem!important; }

  .md\:ml-3, .md\:mx-3 {
    margin-left: 1rem!important; }

  .md\:m-4 {
    margin: 1.5rem!important; }

  .md\:mt-4, .md\:my-4 {
    margin-top: 1.5rem!important; }

  .md\:mr-4, .md\:mx-4 {
    margin-right: 1.5rem!important; }

  .md\:mb-4, .md\:my-4 {
    margin-bottom: 1.5rem!important; }

  .md\:ml-4, .md\:mx-4 {
    margin-left: 1.5rem!important; }

  .md\:m-5 {
    margin: 3rem!important; }

  .md\:mt-5, .md\:my-5 {
    margin-top: 3rem!important; }

  .md\:mr-5, .md\:mx-5 {
    margin-right: 3rem!important; }

  .md\:mb-5, .md\:my-5 {
    margin-bottom: 3rem!important; }

  .md\:ml-5, .md\:mx-5 {
    margin-left: 3rem!important; }

  .md\:p-0 {
    padding: 0!important; }

  .md\:pt-0, .md\:py-0 {
    padding-top: 0!important; }

  .md\:pr-0, .md\:px-0 {
    padding-right: 0!important; }

  .md\:pb-0, .md\:py-0 {
    padding-bottom: 0!important; }

  .md\:pl-0, .md\:px-0 {
    padding-left: 0!important; }

  .md\:p-1 {
    padding: 0.25rem!important; }

  .md\:pt-1, .md\:py-1 {
    padding-top: 0.25rem!important; }

  .md\:pr-1, .md\:px-1 {
    padding-right: 0.25rem!important; }

  .md\:pb-1, .md\:py-1 {
    padding-bottom: 0.25rem!important; }

  .md\:pl-1, .md\:px-1 {
    padding-left: 0.25rem!important; }

  .md\:p-2 {
    padding: 0.5rem!important; }

  .md\:pt-2, .md\:py-2 {
    padding-top: 0.5rem!important; }

  .md\:pr-2, .md\:px-2 {
    padding-right: 0.5rem!important; }

  .md\:pb-2, .md\:py-2 {
    padding-bottom: 0.5rem!important; }

  .md\:pl-2, .md\:px-2 {
    padding-left: 0.5rem!important; }

  .md\:p-3 {
    padding: 1rem!important; }

  .md\:pt-3, .md\:py-3 {
    padding-top: 1rem!important; }

  .md\:pr-3, .md\:px-3 {
    padding-right: 1rem!important; }

  .md\:pb-3, .md\:py-3 {
    padding-bottom: 1rem!important; }

  .md\:pl-3, .md\:px-3 {
    padding-left: 1rem!important; }

  .md\:p-4 {
    padding: 1.5rem!important; }

  .md\:pt-4, .md\:py-4 {
    padding-top: 1.5rem!important; }

  .md\:pr-4, .md\:px-4 {
    padding-right: 1.5rem!important; }

  .md\:pb-4, .md\:py-4 {
    padding-bottom: 1.5rem!important; }

  .md\:pl-4, .md\:px-4 {
    padding-left: 1.5rem!important; }

  .md\:p-5 {
    padding: 3rem!important; }

  .md\:pt-5, .md\:py-5 {
    padding-top: 3rem!important; }

  .md\:pr-5, .md\:px-5 {
    padding-right: 3rem!important; }

  .md\:pb-5, .md\:py-5 {
    padding-bottom: 3rem!important; }

  .md\:pl-5, .md\:px-5 {
    padding-left: 3rem!important; } }
@media (max-width: 992px) {
  .lg\:col-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%; }

  .lg\:col-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%; }

  .lg\:col-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .lg\:col-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; }

  .lg\:col-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%; }

  .lg\:col-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .lg\:col-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%; }

  .lg\:col-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%; }

  .lg\:col-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .lg\:col-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%; }

  .lg\:col-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%; }

  .lg\:col-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .lg\:grid-1 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(1, 1fr); }

  .lg\:grid-2 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(2, 1fr); }

  .lg\:grid-3 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(3, 1fr); }

  .lg\:grid-4 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(4, 1fr); }

  .lg\:grid-5 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(5, 1fr); }

  .lg\:grid-6 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(6, 1fr); }

  .lg\:grid-7 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(7, 1fr); }

  .lg\:grid-8 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(8, 1fr); }

  .lg\:grid-9 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(9, 1fr); }

  .lg\:grid-10 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(10, 1fr); }

  .lg\:grid-11 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(11, 1fr); }

  .lg\:grid-12 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(12, 1fr); }

  .lg\:d-none {
    display: none; }

  .lg\:d-inline {
    display: inline; }

  .lg\:d-inline-block {
    display: inline-block; }

  .lg\:d-block {
    display: block; }

  .lg\:d-table {
    display: table; }

  .lg\:d-table-row {
    display: table-row; }

  .lg\:d-table-cell {
    display: table-cell; }

  .lg\:d-flex {
    display: flex; }

  .lg\:d-grid {
    display: grid; }

  .lg\:d-inline-flex {
    display: inline-flex; }

  .lg\:m-0 {
    margin: 0!important; }

  .lg\:mt-0, .lg\:my-0 {
    margin-top: 0!important; }

  .lg\:mr-0, .lg\:mx-0 {
    margin-right: 0!important; }

  .lg\:mb-0, .lg\:my-0 {
    margin-bottom: 0!important; }

  .lg\:ml-0, .lg\:mx-0 {
    margin-left: 0!important; }

  .lg\:m-1 {
    margin: 0.25rem!important; }

  .lg\:mt-1, .lg\:my-1 {
    margin-top: 0.25rem!important; }

  .lg\:mr-1, .lg\:mx-1 {
    margin-right: 0.25rem!important; }

  .lg\:mb-1, .lg\:my-1 {
    margin-bottom: 0.25rem!important; }

  .lg\:ml-1, .lg\:mx-1 {
    margin-left: 0.25rem!important; }

  .lg\:m-2 {
    margin: 0.5rem!important; }

  .lg\:mt-2, .lg\:my-2 {
    margin-top: 0.5rem!important; }

  .lg\:mr-2, .lg\:mx-2 {
    margin-right: 0.5rem!important; }

  .lg\:mb-2, .lg\:my-2 {
    margin-bottom: 0.5rem!important; }

  .lg\:ml-2, .lg\:mx-2 {
    margin-left: 0.5rem!important; }

  .lg\:m-3 {
    margin: 1rem!important; }

  .lg\:mt-3, .lg\:my-3 {
    margin-top: 1rem!important; }

  .lg\:mr-3, .lg\:mx-3 {
    margin-right: 1rem!important; }

  .lg\:mb-3, .lg\:my-3 {
    margin-bottom: 1rem!important; }

  .lg\:ml-3, .lg\:mx-3 {
    margin-left: 1rem!important; }

  .lg\:m-4 {
    margin: 1.5rem!important; }

  .lg\:mt-4, .lg\:my-4 {
    margin-top: 1.5rem!important; }

  .lg\:mr-4, .lg\:mx-4 {
    margin-right: 1.5rem!important; }

  .lg\:mb-4, .lg\:my-4 {
    margin-bottom: 1.5rem!important; }

  .lg\:ml-4, .lg\:mx-4 {
    margin-left: 1.5rem!important; }

  .lg\:m-5 {
    margin: 3rem!important; }

  .lg\:mt-5, .lg\:my-5 {
    margin-top: 3rem!important; }

  .lg\:mr-5, .lg\:mx-5 {
    margin-right: 3rem!important; }

  .lg\:mb-5, .lg\:my-5 {
    margin-bottom: 3rem!important; }

  .lg\:ml-5, .lg\:mx-5 {
    margin-left: 3rem!important; }

  .lg\:p-0 {
    padding: 0!important; }

  .lg\:pt-0, .lg\:py-0 {
    padding-top: 0!important; }

  .lg\:pr-0, .lg\:px-0 {
    padding-right: 0!important; }

  .lg\:pb-0, .lg\:py-0 {
    padding-bottom: 0!important; }

  .lg\:pl-0, .lg\:px-0 {
    padding-left: 0!important; }

  .lg\:p-1 {
    padding: 0.25rem!important; }

  .lg\:pt-1, .lg\:py-1 {
    padding-top: 0.25rem!important; }

  .lg\:pr-1, .lg\:px-1 {
    padding-right: 0.25rem!important; }

  .lg\:pb-1, .lg\:py-1 {
    padding-bottom: 0.25rem!important; }

  .lg\:pl-1, .lg\:px-1 {
    padding-left: 0.25rem!important; }

  .lg\:p-2 {
    padding: 0.5rem!important; }

  .lg\:pt-2, .lg\:py-2 {
    padding-top: 0.5rem!important; }

  .lg\:pr-2, .lg\:px-2 {
    padding-right: 0.5rem!important; }

  .lg\:pb-2, .lg\:py-2 {
    padding-bottom: 0.5rem!important; }

  .lg\:pl-2, .lg\:px-2 {
    padding-left: 0.5rem!important; }

  .lg\:p-3 {
    padding: 1rem!important; }

  .lg\:pt-3, .lg\:py-3 {
    padding-top: 1rem!important; }

  .lg\:pr-3, .lg\:px-3 {
    padding-right: 1rem!important; }

  .lg\:pb-3, .lg\:py-3 {
    padding-bottom: 1rem!important; }

  .lg\:pl-3, .lg\:px-3 {
    padding-left: 1rem!important; }

  .lg\:p-4 {
    padding: 1.5rem!important; }

  .lg\:pt-4, .lg\:py-4 {
    padding-top: 1.5rem!important; }

  .lg\:pr-4, .lg\:px-4 {
    padding-right: 1.5rem!important; }

  .lg\:pb-4, .lg\:py-4 {
    padding-bottom: 1.5rem!important; }

  .lg\:pl-4, .lg\:px-4 {
    padding-left: 1.5rem!important; }

  .lg\:p-5 {
    padding: 3rem!important; }

  .lg\:pt-5, .lg\:py-5 {
    padding-top: 3rem!important; }

  .lg\:pr-5, .lg\:px-5 {
    padding-right: 3rem!important; }

  .lg\:pb-5, .lg\:py-5 {
    padding-bottom: 3rem!important; }

  .lg\:pl-5, .lg\:px-5 {
    padding-left: 3rem!important; } }
@media (max-width: 1200px) {
  .xl\:col-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%; }

  .xl\:col-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%; }

  .xl\:col-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .xl\:col-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; }

  .xl\:col-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%; }

  .xl\:col-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .xl\:col-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%; }

  .xl\:col-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%; }

  .xl\:col-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .xl\:col-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%; }

  .xl\:col-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%; }

  .xl\:col-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .xl\:grid-1 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(1, 1fr); }

  .xl\:grid-2 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(2, 1fr); }

  .xl\:grid-3 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(3, 1fr); }

  .xl\:grid-4 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(4, 1fr); }

  .xl\:grid-5 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(5, 1fr); }

  .xl\:grid-6 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(6, 1fr); }

  .xl\:grid-7 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(7, 1fr); }

  .xl\:grid-8 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(8, 1fr); }

  .xl\:grid-9 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(9, 1fr); }

  .xl\:grid-10 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(10, 1fr); }

  .xl\:grid-11 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(11, 1fr); }

  .xl\:grid-12 {
    grid-gap: 16px 16px;
    grid-template-columns: repeat(12, 1fr); }

  .xl\:d-none {
    display: none; }

  .xl\:d-inline {
    display: inline; }

  .xl\:d-inline-block {
    display: inline-block; }

  .xl\:d-block {
    display: block; }

  .xl\:d-table {
    display: table; }

  .xl\:d-table-row {
    display: table-row; }

  .xl\:d-table-cell {
    display: table-cell; }

  .xl\:d-flex {
    display: flex; }

  .xl\:d-grid {
    display: grid; }

  .xl\:d-inline-flex {
    display: inline-flex; }

  .xl\:m-0 {
    margin: 0!important; }

  .xl\:mt-0, .xl\:my-0 {
    margin-top: 0!important; }

  .xl\:mr-0, .xl\:mx-0 {
    margin-right: 0!important; }

  .xl\:mb-0, .xl\:my-0 {
    margin-bottom: 0!important; }

  .xl\:ml-0, .xl\:mx-0 {
    margin-left: 0!important; }

  .xl\:m-1 {
    margin: 0.25rem!important; }

  .xl\:mt-1, .xl\:my-1 {
    margin-top: 0.25rem!important; }

  .xl\:mr-1, .xl\:mx-1 {
    margin-right: 0.25rem!important; }

  .xl\:mb-1, .xl\:my-1 {
    margin-bottom: 0.25rem!important; }

  .xl\:ml-1, .xl\:mx-1 {
    margin-left: 0.25rem!important; }

  .xl\:m-2 {
    margin: 0.5rem!important; }

  .xl\:mt-2, .xl\:my-2 {
    margin-top: 0.5rem!important; }

  .xl\:mr-2, .xl\:mx-2 {
    margin-right: 0.5rem!important; }

  .xl\:mb-2, .xl\:my-2 {
    margin-bottom: 0.5rem!important; }

  .xl\:ml-2, .xl\:mx-2 {
    margin-left: 0.5rem!important; }

  .xl\:m-3 {
    margin: 1rem!important; }

  .xl\:mt-3, .xl\:my-3 {
    margin-top: 1rem!important; }

  .xl\:mr-3, .xl\:mx-3 {
    margin-right: 1rem!important; }

  .xl\:mb-3, .xl\:my-3 {
    margin-bottom: 1rem!important; }

  .xl\:ml-3, .xl\:mx-3 {
    margin-left: 1rem!important; }

  .xl\:m-4 {
    margin: 1.5rem!important; }

  .xl\:mt-4, .xl\:my-4 {
    margin-top: 1.5rem!important; }

  .xl\:mr-4, .xl\:mx-4 {
    margin-right: 1.5rem!important; }

  .xl\:mb-4, .xl\:my-4 {
    margin-bottom: 1.5rem!important; }

  .xl\:ml-4, .xl\:mx-4 {
    margin-left: 1.5rem!important; }

  .xl\:m-5 {
    margin: 3rem!important; }

  .xl\:mt-5, .xl\:my-5 {
    margin-top: 3rem!important; }

  .xl\:mr-5, .xl\:mx-5 {
    margin-right: 3rem!important; }

  .xl\:mb-5, .xl\:my-5 {
    margin-bottom: 3rem!important; }

  .xl\:ml-5, .xl\:mx-5 {
    margin-left: 3rem!important; }

  .xl\:p-0 {
    padding: 0!important; }

  .xl\:pt-0, .xl\:py-0 {
    padding-top: 0!important; }

  .xl\:pr-0, .xl\:px-0 {
    padding-right: 0!important; }

  .xl\:pb-0, .xl\:py-0 {
    padding-bottom: 0!important; }

  .xl\:pl-0, .xl\:px-0 {
    padding-left: 0!important; }

  .xl\:p-1 {
    padding: 0.25rem!important; }

  .xl\:pt-1, .xl\:py-1 {
    padding-top: 0.25rem!important; }

  .xl\:pr-1, .xl\:px-1 {
    padding-right: 0.25rem!important; }

  .xl\:pb-1, .xl\:py-1 {
    padding-bottom: 0.25rem!important; }

  .xl\:pl-1, .xl\:px-1 {
    padding-left: 0.25rem!important; }

  .xl\:p-2 {
    padding: 0.5rem!important; }

  .xl\:pt-2, .xl\:py-2 {
    padding-top: 0.5rem!important; }

  .xl\:pr-2, .xl\:px-2 {
    padding-right: 0.5rem!important; }

  .xl\:pb-2, .xl\:py-2 {
    padding-bottom: 0.5rem!important; }

  .xl\:pl-2, .xl\:px-2 {
    padding-left: 0.5rem!important; }

  .xl\:p-3 {
    padding: 1rem!important; }

  .xl\:pt-3, .xl\:py-3 {
    padding-top: 1rem!important; }

  .xl\:pr-3, .xl\:px-3 {
    padding-right: 1rem!important; }

  .xl\:pb-3, .xl\:py-3 {
    padding-bottom: 1rem!important; }

  .xl\:pl-3, .xl\:px-3 {
    padding-left: 1rem!important; }

  .xl\:p-4 {
    padding: 1.5rem!important; }

  .xl\:pt-4, .xl\:py-4 {
    padding-top: 1.5rem!important; }

  .xl\:pr-4, .xl\:px-4 {
    padding-right: 1.5rem!important; }

  .xl\:pb-4, .xl\:py-4 {
    padding-bottom: 1.5rem!important; }

  .xl\:pl-4, .xl\:px-4 {
    padding-left: 1.5rem!important; }

  .xl\:p-5 {
    padding: 3rem!important; }

  .xl\:pt-5, .xl\:py-5 {
    padding-top: 3rem!important; }

  .xl\:pr-5, .xl\:px-5 {
    padding-right: 3rem!important; }

  .xl\:pb-5, .xl\:py-5 {
    padding-bottom: 3rem!important; }

  .xl\:pl-5, .xl\:px-5 {
    padding-left: 3rem!important; } }

/*# sourceMappingURL=unisUi.css.map */
